<?xml version="1.0"?>
<config>
  <modules>
    <Gspann_ABHISHEK>
      <version>0.1.0</version>
    </Gspann_ABHISHEK>
  </modules>
  <frontend>
    <routers>
      <abhishek>
        <use>standard</use>
          <args>
            <module>Gspann_ABHISHEK</module>
            <frontName>abhishek</frontName>
          </args>
      </abhishek>
    </routers>
		<layout>
		  <updates>
			<abhishek>
			  <file>abhishek.xml</file>
			</abhishek>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <abhishek>
        <class>Gspann_ABHISHEK_Helper</class>
      </abhishek>
    </helpers>
	<blocks>
	  <abhishek>
		<class>Gspann_ABHISHEK_Block</class>
	  </abhishek>
	</blocks>
  </global>
  <admin>
	<routers>
	  <abhishek>
	    <use>admin</use>
		<args>
		  <module>Gspann_ABHISHEK</module>
		  <frontName>admin_abhishek</frontName>
		</args>
	  </abhishek>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <abhishek module="abhishek">
		<title>ABHISHEK</title>
		<sort_order>100</sort_order>
		<children>
		  <abhishekbackend module="abhishek">
			<title>GSPANN</title>
			<sort_order>0</sort_order>
			<action>admin_abhishek/adminhtml_abhishekbackend</action>
		  </abhishekbackend>
		</children>
	  </abhishek>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<abhishek translate="title" module="abhishek">
			  <title>ABHISHEK</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <abhishekbackend translate="title">
			<title>GSPANN</title>
		  </abhishekbackend>
			  </children>
			</abhishek>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<abhishek>
		  <file>abhishek.xml</file>
		</abhishek>
	  </updates>
	</layout>
  </adminhtml>
</config> 